<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/UsuarioValidaCadastroAPI/Index" method="post">
        <div id="base" class="">

            <div class="container body-content">
                Usuario ativo com sucesso !!
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <footer class="footer">
                    <font size="1" color="green"><p>&copy; @DateTime.Now.Year - Recuperar sua Senha </p></font>
                </footer>
            </div>
        </div>
    </form>

</body>
</html>