@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <form action="/Home/Index" method="post">
        <div id="base" class="">

            <!-- Unnamed (Image) -->
            <div id="u0">
                <!-- Pan
                <!-- Unnamed () -->
                <div id="u1" class="text">
                    <p><span></span></p>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </form>
</body>
